html {
  scroll-behavior: smooth;
}
body{
    background: #030303;
}
.header {
  height: 200px;
  display: flex;
  align-items: center;
  background: #030303;
  padding-right: 15px;
  padding-left: 15px;
}
.header-container {
  width: 1440px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  min-width: 195px;
  height: 50px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: url(assets/svg/logo.svg);
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;
  cursor: pointer;
}
.menu__item {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  box-sizing: border-box;
  text-align: center;
}
.navigation__menu {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 720px;
}
.item_link{
  text-decoration: none;
  color: #FFFFFF;
}
.item_link:hover{
  color: #8b0000;
  transition: color 0.5s ease;
}
.header__logo:hover{
  color: #8b0000;
  transition: color 0.8s ease;
}
.welcome-section{
  margin: 0 auto;
  min-height: 750px;
  background: #030303;
  padding-right: 15px;
  padding-left: 15px;
  background-image: url(assets/images/background-welcome.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% + 10px);
  max-width: 1920px;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.welcome-text{
  padding-top: 60px;
}
.section-tittle{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.tittle_castle-to-museum{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: none;
}
.btn-discover{
  margin-top: 47.5px;
  background: #710707;
  border-radius: 10px;
  border:  0px;
  width: 360px;
  height: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-discover:active {
  transform: scale(0.8);
}
.visiting-tittle_color-margin{
  color: #9D8665;
  margin: 0px;
  padding-top: 74px;
}
.visiting-section{
  min-height: 1265px;
  background-color: #FFFF;
}
.underline-title {
  position: relative;
}
.card-underline-tittle{
  position: relative;
}
.card-underline-tittle::after{
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 300px;
  height: 3px;
  background-color: #710707;
}
.underline-tittle::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.cards-container{
  padding-top: 105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  row-gap: 98px;
}
.card{
  height: 402px;
}
.card-tittle{
  margin: 0px;
  padding-top: 20px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}
.card-second-tittle{
  margin: 0px;
  padding-top: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #000000; 
}
.card-third-tittle{
  padding-top: 11px;
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #000000; 
}