	@font-face {
		font-family: "Scene W01 Black";
		src: url("font/1.eot");
		/* IE9*/
		src: url("font/1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("font/4.woff2") format("woff2"), /* chrome、firefox */
		url("font/3.woff") format("woff"), /* chrome、firefox */
		url("font/2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		url("font/151212d9a9d1e632aa020562ae4ea050.svg#Scene W01 Black") format("svg");
		/* iOS 4.1- */
	}
	body {
		padding: 0;
		margin: 0;
		overflow-x: hidden;
	}
	html {
		padding: 0;
		margin: 0;
	}
	.menu__burger{
		display: none;
	}
	.header {
		width: 100%;
		height: 80px;
		max-width: 1920px;
		margin: 0 auto;
		overflow-y: hidden;
	}
	.header__container {
		top: 12px;
		display: flex;
		align-items: center;
		max-width: 1160px;
		flex-wrap: nowrap;
		width: 100%;
		margin: 0 auto;
		padding-top: 15px;
		overflow-y: hidden;
	}
	main {
		margin: auto;
		max-width: 1920px;
		overflow-y: hidden;
	}
	.animal__watch {
		min-height: 620px;
		width: 100%;
		overflow-y: hidden;
	}
	.panda-1_overflow {
		overflow-y: hidden;
		height: 700px;
	}
	.panda {
		height: 700px;
		position: relative;
		width: 100%;
		min-width: 400px;
		overflow: hidden;
		z-index: 20;
	}
	.panda-1 {
		position: absolute;
		left: 50%;
		top: 55px;
		z-index: -1;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	.background-section1 {
		position: absolute;
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 84.12%;
		background-image: url(images/Sect_1.png);
		height: 700px;
		background-repeat: no-repeat;
		margin: 0 auto;
		z-index: -5;
		width: auto;
		background-position: center;
	}
	.wrapper:not(.container) {
		position: absolute;
		left: -19%;
		right: 0%;
		top: 0%;
		bottom: 84.12%;
		max-width: 1550px;
		height: 700px;
		margin: 0 auto;
	}
	.container {
		max-width: 1300px;
	}
	.header__logo {
		width: 112px;
		height: 57px;
		left: 19.9%;
		margin-right: 100px;
		top: 12px;
		border-radius: 3px;
	}
	.header__menu {
		top: 12px;
		display: flex;
		align-items: center;
		width: 409px;
		height: 21px;
		left: 28.8%;
		top: 30px;
		display: inline-block;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 0px;
		line-height: 21px;
	}
	.container__animal-watch {
		min-height: 620px;
		margin: 0 auto;
		max-width: 1200px;
		overflow-y: hidden;
	}
	.menu {
		text-decoration: none;
		color: black;
		font-size: 18px;
	}
	.menu_about {
		margin-right: 35px;
		text-shadow: 1px 1px 1px #70CB0E;
	}
	.menu_map {
		margin-right: 35px;
	}
	.menu_map:hover {
		text-shadow: 2px 2px 2px lime;
	}
	.menu_zoos:hover {
		text-shadow: 2px 2px 2px lime;
	}
	.menu_contact:hover {
		text-shadow: 2px 2px 2px lime;
	}
	.menu_design:hover {
		text-shadow: 2px 2px 2px lime;
	}
	.menu_zoos {
		margin-right: 35px;
	}
	.menu_contact {
		margin-right: 35px;
	}
	.panda {
		position: absolute;
		width: 693px;
		height: 645px;
		right: -10px;
		top: 55px;
		background: transparent;
		background-image: url(images/panda.png);
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 20;
	}
	.animal__text {
		display: flex;
		max-width: 1550px;
		height: 252px;
		padding-left: 25px;
		padding-top: 130px;
		overflow-y: hidden;
	}
	.text__item {
		font-family: "Scene W01 Black";
		font-style: normal;
		font-weight: 900;
		font-size: 70px;
		line-height: 120%;
		letter-spacing: 0.01em;
		margin: 0;
		padding: 0;
		width: 570px;
		height: 252px;
	}
	.drop1 {
		position: absolute;
		width: 833.74px;
		height: 763.79px;
		left: 42.2%;
		top: -3.5%;
		background-image: url("images/drop.svg");
		background-repeat: no-repeat;
		background-position: center;
		z-index: 10;
	}
	.drop2 {
		position: absolute;
		width: 1046.85px;
		height: 904.96px;
		left: 11.4%;
		top: -10%;
		background-image: url("images/drop2.svg");
		background-repeat: no-repeat;
		background-position: center;
		z-index: 1;
	}
	.btn-green {
		padding: 15px 60px;
		width: 233px;
		height: 51px;
		top: 512px;
		background: #70CB0E;
		border-radius: 30px;
		outline: none;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		border: none;
		cursor: pointer;
		z-index: 20;
		margin-left: 26px;
		margin-top: 50px;
	}
	.btn-green:active {
		transform: scale(0.8);
	}
	.btn-green:hover {
		background: rgba(0, 0, 0, 0);
		color: #3a7999;
		box-shadow: inset 0 0 0 3px #3a7999;
	}
	.btn-green__play {
		margin-left: 2px;
	}
	.main {}
	.howitworks {
		background-color: white;
		overflow: hidden;
	}
	.text__center {
		margin: 0 auto;
		font-family: Roboto;
		font-style: normal;
		margin-top: 100px;
		font-weight: 500;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
		color: #000000;
	}
	.slider {
		overflow-x: hidden;
		position: relative;
		width: 1365px;
		height: 549px;
		overflow-y: hidden;
		left: 50%;
		margin-left: -682.5px;
	}
	.slider__image1 {
		width: 250px;
		height: 350px;
		position: absolute;
		width: 250px;
		height: 350px;
		left: 8px;
		top: 101px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 0px;
		z-index: 1;
		overflow: hidden;
	}
	.slider__image2 {
		position: absolute;
		width: 300px;
		height: 400px;
		left: 238px;
		top: 76px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 0px;
		z-index: 2;
		overflow: hidden;
	}
	.slider__image3 {
		width: 350px;
		height: 450px;
		position: absolute;
		width: 350px;
		height: 450px;
		left: 518px;
		top: 51px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 0px;
		z-index: 20;
		overflow: hidden;
	}
	.slider__image4 {
		position: absolute;
		width: 300px;
		height: 400px;
		left: 848px;
		top: 76px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 0px;
		z-index: 10;
		overflow: hidden;
	}
	.slider__image5 {
		position: absolute;
		width: 250px;
		height: 350px;
		left: 1128px;
		top: 101px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		border-radius: 0px;
		overflow-x: hidden;
		overflow: hidden;
		z-index: 9;
	}
	.container-middle {
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden;
	}
	.slider__text {
		max-width: 933px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: #000000;
		margin: 0 auto;
		padding-top: 30px;
		min-height: 126px;
		padding-bottom: 100px;
	}
	.vector1 {
		position: absolute;
		width: 951px;
		height: 354px;
		left: calc(50% - 941px/2 - 217.5px);
		top: 190px;
		background: url(images/vector1.svg);
		overflow: hidden;
	}
	.vector2 {
		position: absolute;
		width: 863px;
		height: 272px;
		left: calc(50% - 853px/2 + 240.5px);
		background: url(images/vector2.svg);
		z-index: 0;
		overflow: hidden;
	}
	.container-animals {
		max-width: 1160px;
		width: 100%;
		height: 100%;
		margin: 50px auto;

	}
	.pets-in-zoo {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 47px;
		color: #000000;
		margin: 0 auto;
		width: 199px;
		height: 47px;
	}
	.container-animals__slider {
		display: flex;
		justify-content: space-between;
		margin-top: -180px;
	}
	.img-card {
		width: 233px;
		height: 300px;
		object-fit: cover;
		position: relative;
	}
	.item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 233px;
		height: 630px;
		margin-top: 229px;
		margin-bottom: 20px;
	}
	.arrow {
		background-color: #FFE68E;
		background-image: url("images/left.svg");
		background-repeat: no-repeat;
		background-position: 23.5px center;
		width: 63px;
		height: 63px;
		border-radius: 50%;
		border: none;
		outline: none;
		transition: 1s all;
		cursor: pointer;
		opacity: 0.8;
	}
	.left {
		align-self: center;
		margin-top: 206px;
		margin-left: 6px;
	}
	.right {
		align-self: center;
		margin-top: 206px;
		margin-right: -5px;
	}
	.arrow_right {
		background-image: url("images/right.svg");
		background-position: 26.8px center;
	}
	.fav-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 14px;
		margin: 50px auto;
		width: 286px;
		height: 51px;
		left: calc(50% - 286px/2);
		top: 900px;
		background: #70CB0E;
		border-radius: 30px;
		outline: none;
		border: none;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		flex-wrap: nowrap;
	}
	.pay-feed {
		
	}
	.p-f {
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 47px;
		margin-top: 100px;
		margin-left: 12px;
	}
	.pay-feed__instruction {
		display: flex;
		;
		justify-content: space-around;
		max-width: 1160px;
		width: 100%;
		margin: 0 auto;
		height: 273px;
		margin-top: 60px;
	}
	.pay__item {
		height: 276px;
		width: 320px;
		align-items: center;
		justify-content: center;
		background-image: url(images/bcg-pf.svg);
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	.img__card {}
	.item_2 {
		background-position: center;
	}
	.item_3 {
		background-position: center;
	}
	.img_1 {
		padding-left: 90px;
		padding-top: 61px;
	}
	.img_2 {
		padding-left: 90px;
		padding-top: 61px;
	}
	.img_3 {
		padding-left: 105px;
		padding-top: 75px;
	}
	.pf_text {
		position: absolute;
		width: 320px;
		height: 38px;
		left: 2.5%;
		top: 258px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		text-decoration: none;
		color: black;
	}
	.text_2 {
		left: 10.9%;
	}
	.text_3 {
		left: 4.5%;
	}
	.testimonials {
		padding: 100px 0;
	}
	.testimonials__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 47px;
		text-align: center;
	}
	.pay-feed__arrow {
		background-image: url(images/arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		width: 539.48px;
		height: 531.63px;
		left: calc(35.5% - 535.48px/2 + 80.86px);
		top: calc(72% - 531.63px/2 - 64.92px);
	}
	.testimonials__wrapper {
		padding-top: 48px;
		display: flex;
		justify-content: space-between;
		max-width: 1160px;
		width: 100%;
		margin: 0 auto;
	}
	.card {
		width: calc(233px - 40px);
		height: calc(369px - 40px);
		background-color: #A7E1FF;
		padding: 20px;
	}
	.left_2 {
		align-self: center;
		margin-top: 0px;
		margin-left: 0px;
	}
	.right_2 {
		align-self: center;
		margin-top: 0px;
		margin-right: 0px;
	}
	.card__avatar {
		border-radius: 50%;
		border: none;
		outline: none;
		width: 52px;
		height: 52px;
		float: left;
	}
	.avatar_karen {
		background-image: url(images/karen.png);
		background-position: center;
	}
	.avatar_sara {
		background-image: url(images/sara.png);
		background-position: center;
	}
	.avatar_alex {
		background-image: url(images/alex.png);
		background-position: center;
	}
	.avatar_alene {
		background-image: url(images/alene.png);
		background-position: center;
	}
	.tittle {
		margin-left: 62px;
		padding-top: 10px;
		height: 40px;
	}
	.tittle__name {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
	}
	.tittle_money:not(.coin) {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 120%;
	}
	.coin {
		padding-top: 2px;
	}
	.testimonials__span {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 120%;
		margin-top: 21px;
	}
	.fav-btn_testimonials {
		top: 580px;
		width: 246px;
		height: 51px;
		left: calc(51% - 296px/2);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
	}
	.footer {
		min-height: 300px;
		width: 100%;
		position: relative;
		background-color: #DFF5B0;
		z-index: 10;
	}
	.footer_logo {
		width: 98px;
		height: 50px;
		padding-top: 15px;
		position: static;
		padding-left: 3px;
	}
	.fav-btn_footer {
		width: 230px;
		height: 50px;
		position: static;
		margin-top: 30px;
		padding-left: 5px;
	}
	.footer__logo_school {
		padding-top: 4px;
		width: 288px;
		
	}
	.footer__copyright {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		align-self: flex-end;
	}
	.footer__designer {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		align-self: flex-end;
		text-align: center;
	}
	.footer__menu {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 350px;
		min-width: 260px;
		height: 73px;
		padding-left: 160px;
	}
	.menu__link {
		display: block;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		text-decoration: none;
		width: 35%;
		color: #000000;
	}
	.footer__social {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-width: 190px;
		padding-left: 118px;
		padding-top: 30px;
	}
	.social__block {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background-repeat: none;
		background-position: center;
	}
	.social_instagram {
		background-image: url(images/insta.svg);
	}
	.social_facebook {
		background-image: url(images/facebook.svg);
	}
	.social_twitter {
		background-image: url(images/twitter.svg);
	}
	.social_youtube {
		background-image: url(images/youtube.svg);
	}
	.card-animal__tittle {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		z-index: 2;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
		top: 15.5px;
	}
	.card-animal {
		position: relative;
		transition: .3s all;
	}
	.card-animal:hover {
		transform: scale(1.087, 1.1)
	}
	.fav-btn:active {
		background: rgba(0, 0, 0, 0);
		color: black;
		box-shadow: inset 0 0 0 3px lime;
	}
	.fav-btn:active {
		transform: scale(0.8);
	}
	.social__block:hover {
		transform: scale(1.1);
	}
	.footer__container1 {
		max-width: 1160px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 20px;
	}
	.footer__container2 {
		width: 100%;
		display: flex;
		padding-top: 70px;
		z-index: 2;
		position: relative;
	}
	.footer__bg {
		width: 100%;
		top: -19px;
		position: absolute;
		z-index: -2;
	}
	.footer__container3 {
		width: 23%;
		display: flex;
		padding-top: 66px;
		z-index: -2;
		order: 1;
		align-items: flex-end;
		justify-content: space-between;
	}
	.link_top {
		padding-top: 30px;
	}
	.link_end {
		padding-top: 15px;
	}
	.center-me {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
	}
	.page-not-found {
		font-family: Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		line-height: 70px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 34px;
	}
	.error__link {
		text-decoration: none;
		font-family: Bebas Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #59C3FB;
		padding-top: 14px;
	}
@media only screen and (max-width: 639px) {
		.footer__container2{
			flex-direction: column;
			flex-direction: column;
			align-items: center;
			height: 425px;
		}
		.footer__logo{
			order: 1;
		}
		.pay-feed{
			position: relative;
		}
		.footer__container3{
			width: 100% !important;
		}
		.header__logo{
			margin-right: 0px;
		}
		.footer__menu{
			order: 2;
			flex-direction: column;
			height: 129px;
			width: 87px;
			text-align: center;
			min-width: 0px;
			justify-content: space-between!important;
		}
		.fav-btn_640px{
			top: 300px !important;
			left: calc(50% - 230px/2 )!important;
		}
		.footer__social{
			order: 3;
		}
		.link_end{
			padding-top: 0px;
		}
		.link_top{
			padding-top: 0px;
		}
		.menu__link{
			width: 100%;
		}
		.item3 {
			display: none;
		}
		.pay-feed__instruction{
			height: 1145px!important;
		}
		.img-card {
			width: 140px !important;
			height: 300px !important;
			box-sizing: border-box !important;
		}
		.card-animal {
			width: 140px !important;
			height: 300px !important;
			box-sizing: border-box !important;
		}
		main {
		}
		.testimonials{

		left: 0px;
		right: 0px;
		top: 4280px !important;
		bottom: 742px !important;

		}
		.pay-feed__arrow {
			display: none;
		}
		.arrow_2{
			width: 16px;
			height: 73px;
			top: 750px;
			left: 65%;
			position: absolute;
		}
		.pay-feed__arrow1{
			background-image: url(images/pay-feed__arrow1.png);
			width: 16px;
			height: 73px;
			top: 440px;
			left: 50%;
			background-position: center;
			position: absolute;
			z-index: 50;
		}
		.pay-feed__arrow2{
			background-image: url(images/pay-feed__arrow1.png);
			width: 16px;
			height: 73px;
			top: 825px;
			left: 50%;
			background-position: center;
			position: absolute;
			z-index: 50;
		}
	}
	@media only screen and (max-width: 790px) {
		.error__img {
			width: 630px;
		}
	}
	@media only screen and (max-width: 640px) {
		.error__img {
			width: 550px;
		}
	}
	@media only screen and (max-width: 565px) {
		.error__img {
			width: 450px;
		}
	}
	@media only screen and (max-width: 470px) {
		.error__img {
			width: 320px;
		}
		.page-not-found {
			font-size: 40px;
			line-height: 40px;
		}
		.error__link {
			font-size: 16px;
			line-height: 16px;
		}
	}
	@media only screen and (max-width: 380px) {
		.error__img {
			width: 320px;
		}
	}
	@media only screen and (max-width: 320px) {
		.error__img {
			width: 260px;
		}
		.page-not-found {
			font-size: 40px;
			line-height: 40px;
		}
		.error__link {
			font-size: 16px;
			line-height: 16px;
		}
	}
	@media only screen and (max-width: 670px) {
		.header__logo {}
		.text__item {
			font-style: normal;
			font-weight: 900;
			font-size: 50px;
			line-height: 120%;
			width: 414px;
			height: 180px;
		}
		.btn-green {
			margin-top: 0px;
		}
	}
	@media only screen and (max-width: 1360px) {
		.panda-1 {
			left: calc(82% - 1360px/3);
		}
	}
	@media only screen and (max-width: 1200px) {
		.panda-1 {
			left: calc(72% - 1450px/4);
			top: 62px;
		}
	}
	@media only screen and (max-width: 640px) {
		.menu__burger {
			display: inline-block;
			position: absolute;
			left: calc(100% - 290px/5);
		}
		.menu {
			display: none;
		}
	}
	@media only screen and (max-width: 560px) {
		.panda-1 {
			left: calc(72% - 860px/4);
			top: 62px;
		}
		.slider__image2 {
			width: 160px;
			height: 215px;
			left: calc(50% - 160px/2 - 70px);
			top: 51px;
			box-sizing: border-box;
			z-index: 5;
		}
		.slider__image3 {
			width: 140px;
			height: 215px;
			left: calc(50% - 140px/2 - 60px);
			top: 251px;
			box-sizing: border-box;
			z-index: 10;
		}
		.slider__image1 {
			width: 140px;
			height: 215px;
			left: calc(50% - 140px/2 + 60px);
			top: 86px;
			z-index: 10;
		}
		.slider__image4 {
			width: 160px;
			height: 215px;
			left: calc(50% - 160px/2 + 70px);
			top: 286px;
			z-index: 4;
		}
	}
	@media only screen and (max-width: 320px) {
		.btn-green {
			margin-top: 100px;
		}
	}
	@media only screen and (max-width: 1198px) {
		.item4 {
			display: none;
		}
		.img-card {
			width: 187px;
			height: 300px;
			box-sizing: border-box;
		}
		.card-animal {
			width: 187px;
			height: 300px;
			box-sizing: border-box;
		}
		.right {
			display: none;
		}
		.left {
			display: none;
		}
		.container-animals {}
		.item3 {
			padding-right: 0px;
		}
		.item1 {
			padding-left: 15px;
		}
	}
		@media only screen and (max-width: 960px) {
		main {
			
		}
		.testimonials__block4{
			display: none;
		}
		.fav-btn_testimonials{
			top: 780px!important;
		}
		.card{
			width: 187px;
			height: 429px;
		}
		.pay-feed__instruction{
			height: 600px;
			flex-wrap: wrap;
			justify-content: center;
		}
		.testimonials {
			top: 3849px;
			bottom: 359px;
		}
		.pay-feed__arrow {
			background-image: url(images/arrow-640px.png);
			left: calc(40% - 800.73px/2 + 137.12px);
			top: calc(50% - 92.15px/2 - 151.73px);
		}
		.pf_text {
			width: 192px;
			left: 20.5%;
		}
		.text_2 {
			
		}
	.text_3 {
		left: 22.5%;
	}
}

	@media only screen and (max-width: 1190px) {
		.pay-feed__instruction {
			
		}
		.arrow__end{
			display: flex !important;	
		}
		.fav-btn:not(.fav-btn_testimonials){
			top: 1050px;
		}
		.fav-btn_testimonials{
			top: 680px;
		}
		main{
				
		}
	}
	@media only screen and (max-width: 725px) {	
		.testimonials__block3{
			display: none;
		}
	}
	@media only screen and (max-width: 470px) {	
		.card_1{
			width: 300px;
			height: 286px;
			padding: 20px;
			box-sizing: border-box;
			margin: 0 auto;
		}
		.testimonials__wrapper{
			flex-direction: column;
			min-height: 540px;
			justify-content: center;
		}
		.card_2{
			height: 229px;
			width: 300px;
			box-sizing: border-box;
			margin: 20px auto;
		}
		.fav-btn_testimonials{
			top: 850px!important;
			left: 10%;
		}
	}
	@media only screen and (max-width: 1060px) {	
		.footer__menu{
				padding-left: 0px;
				justify-content: flex-start;	
		}
		.fav-btn_footer{
			display: none;
		}
		.footer__container2{
				display: flex;
				width: 100%;
				justify-content: space-between;
		}
		.footer__social{
			padding-left: 0px;
		}
	}
	.fav-btn_640px{
		margin-top: 68px;
		width: 230px;
		height: 50px;
		position: absolute;
		padding-left: 5px;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 14px;
		height: 51px;
		background: #70CB0E;
		border-radius: 30px;
		outline: none;
		border: none;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		flex-wrap: nowrap;
		order: 2;
		left: calc(100% - 260px + 29px);
		top: 140px;
	}
	.footer__container4{
		display:flex;
		width: 69%;
		text-align: center;
		justify-content: space-between;
		order: 2;
		height: 50px;
		margin-top: 66px;
		margin-left: 80px;
		height: 80px;
	}
	.arrow__end{
		display: none;
		justify-content:space-between;
		padding-top: 30px;
		width: 	148px;
		margin: 0 auto;
	}
	@media only screen and (max-width: 1040px) {	
		.footer__container4{
			flex-direction: column-reverse;
			order: 3;
			margin-left: 0px;
			margin: 0 auto;
			padding-top: 25px;
		}
		.fav-btn_640px{
			display:flex;
		}
		.footer__designer{
			align-self: center;
		}
		.footer__copyright{
			align-self: center;
		}
		.footer__container3{
			width: 55%;
		}
		.arrow_end{
			align-self: center;
		}
	}
